* {
   margin: 0;
   padding: 0;
}

html,
body {
   overflow: hidden;
   background: linear-gradient(180deg, #1adbe4 0%, #1595dc 100%);
}

.webgl {
   position: fixed;
   top: 0;
   left: 0;
   outline: none;
}
